<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Veterinaria_FinalEntities" connectionString="metadata=res://*/Veterinaria.csdl|res://*/Veterinaria.ssdl|res://*/Veterinaria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Edison\SQLEXPRESS;initial catalog=Veterinaria_Final;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>